{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{%block content%}
      
    <div class="row" style="padding-top: 5%;">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                
                <div class="card" style="width:350px">
                    <center>
                        <img class="card-img-top" src="{%static 'hm.png'%}" alt="Card image" style="width:200px;height:200px;padding-top: 10px;">

                    </center>

                    <!-- Common Login for all users -->

                    <div class="card-body">
                      <h4 class="card-title">Myplate Login</h4>
                      <p class="card-text"> Lets create Healthy Society</p>
                      <a href="{% url 'accounts:login'%}" class="btn btn-primary">LOGIN</a>
                    </div>
                  </div>

            </div>
          </div>
        </div>
      </div>

{% endblock%}