{% extends 'base_layout.html' %}

{%block content%}
<main role="main">
      
   
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
  
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              


            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              

            </div>
          </div>
</main>
{% endblock%}
