{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

</style>
<a href="{%url 'accounts:test3'%}"><input type="submit" value="Back" class="btn btn-primary" style="margin-top: 1%;margin-left:90%;width: 90px;"></a>
<div style="margin-left: 20%;background-color: black;color: #ffdf01;width: 600px;border-radius: 20px;">
    <table >
        <tr>
            <td >DAY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> 
            <td >Dish1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Dish2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Dish3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Dish4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
    
        {% for menu in menus%}
        <tr>
            <td>{{menu.day}}</td>
            <td>{{menu.dish1}}</td>
            <td>{{menu.dish2}}</td>
            <td>{{menu.dish3}}</td>
            <td>{{menu.dish4}}</td>
        </tr>
        {%endfor%}    
    </table>
</div>


{%endblock%}