<html>
    <head>
       <title>Survey</title> 
    </head>
    <body style="background-color:#ffdf01;"><table>
       
             <img src="CUSTOM BLACK.png" alt="Logo" style="widows: 120px;height:120px;"> 
           <h1 style="color: #34332B;">Non Feeding Committee</h1>
            
        
       

        <!-- Survey from the noon feeding commiteee -->
  
        <form action="Survey">
            <p>How well are you satisfied with the quality of the food?</p>
          <input type="radio" id="Exc" name="evaluation" value="Exc">
            <label for="Exc">Excellent</label>&nbsp;
             <input type="radio" id="good" name="evaluation" value="good">
            <label for="good">Good</label>&nbsp;
              <input type="radio" id="sat" name="evaluation" value="sat">
            <label for="sat">Satisfactory</label>&nbsp;
               <input type="radio" id="poor" name="evaluation" value="poor">
            <label for="poor">Poor</label>&nbsp;<br>
        
        </form><form action="Survey">
            <p>How well are you satisfied with the quantity of the food?</p>
            <input type="radio" id="Exc" name="evaluation" value="Exc">
            <label for="Exc">Excess</label>&nbsp;
            <input type="radio" id="adq" name="evaluation" value="adq">
            <label for="adq">Adequate</label>&nbsp;
            <input type="radio" id="sca" name="evaluation" value="sca">
            <label for="sca">Scarce</label>&nbsp;<br>
        </form><form action="Survey">
            <p>How would you rate the daily menu?</p>
            <input type="radio" id="Exc" name="evaluation" value="Exc">
            <label for="Exc">Excellent</label>&nbsp;
            <input type="radio" id="good" name="evaluation" value="good">
            <label for="good">Good</label>&nbsp;
            <input type="radio" id="sat" name="evaluation" value="sat">
            <label for="sat">Satisfactory</label>&nbsp;
            <input type="radio" id="poor" name="evaluation" value="poor">
            <label for="poor">Poor</label>&nbsp;<br></form>
            <form action="Survey">
            <p>How would you rate the cleanliness of the school?</p>
            <input type="radio" id="Exc" name="evaluation" value="Exc">
            <label for="Exc">Excellent</label>&nbsp;
            <input type="radio" id="good" name="evaluation" value="good">
            <label for="good">Good</label>&nbsp;
            <input type="radio" id="sat" name="evaluation" value="sat">
            <label for="sat">Satisfactory</label>&nbsp;
            <input type="radio" id="poor" name="evaluation" value="poor">
            <label for="poor">Poor</label>&nbsp;<br></form>
            <form action="Survey">
            <p>Does the school implement the periodic medical checkups?</p>
            <input type="radio" id="Yes" name="evaluation" value="Yes">
            <label for="Yes">Yes</label>&nbsp;
            <input type="radio" id="no" name="evaluation" value="no">
            <label for="good">No</label>&nbsp;<br></form>
            <p>How well are you satisfied with the current scheme?</p>
            <input type="radio" id="Exc" name="evaluation" value="Exc">
            <label for="Exc">Excellent</label>&nbsp;
            <input type="radio" id="good" name="evaluation" value="good">
            <label for="good">Good</label>&nbsp;
            <input type="radio" id="sat" name="evaluation" value="sat">
            <label for="sat">Satisfactory</label>&nbsp;
            <input type="radio" id="poor" name="evaluation" value="poor">
            <label for="poor">Poor</label>&nbsp;<br></form><br>
            <textarea id="complaint" rows="4" cols="50">
                Any Complaints?
                </textarea>
            
            
        </form>
    </table>
    </body>
</html>