{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block content %}
</div>
<!------------------------------------------------------------------------------

                                      Noon Feeding Committee Login Card
        ------------------------------------------------------------------------------ -->
<div class="row">
  <div class="col-3 card  shadow-sm" style="margin: 5%;padding: 3%;padding-left: 5%;">
      <h5><b>Welcome Noon Feeding Commitee Officer</b></h5>
          <img src="{%static 'hm.png'%}" alt="" style="height: 100px;width: 100px;margin-left: 10%;margin-top: 10%;"> <br>
              {% if user.is_authenticated %}
        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning" style="margin-top: 5%;margin-left:20%">Logout</button>       
           </form>
    {% endif %}
             
  </div>
  <!------------------------------------------------------------------------------

                                      Menu Approval Card
        ------------------------------------------------------------------------------ -->
  <div class="col-2 card  shadow-sm" style="margin-top:10%;height: 200px;">
      <center>
          <img src="{%static 'test.png'%}" alt="" style="height: 50px;width: 50px;margin-top: 30px;">
      </center>
     <h5 align="center"style="padding-top: 5%;">Menu Approval</h5>
     <center>
      <a href="{% url 'accounts:render' %}"><button type="button" class="btn btn-primary" style="margin-top: 5%;width: 150px;">See Menu</button></a>
     </center>
  </div>
  <!------------------------------------------------------------------------------

                                      Weekly Survey Card
        ------------------------------------------------------------------------------ -->
  <div class="col-2 card  shadow-sm" style="margin-top:10%;margin-left: 2%;height: 200px;">
      <center>
          <img src="{% static 'survey.png'%}" alt="" style="height: 50px;width: 50px;margin-top: 30px;">
      </center>
     <h5 align="center" style="padding-top: 5%;">Weekly Survey</h5>
     <center>
      <a href="{% url 'accounts:survey'%}"><button type="button" class="btn btn-primary" style="margin-top: 5%;width: 150px;">Start Survey</button></a>
     </center>
  </div>
 <!------------------------------------------------------------------------------

                                      Medical Report Card
        ------------------------------------------------------------------------------ -->
  <!-- <div class="col-2 card  shadow-sm" style="margin-top:10%;margin-left: 2%;height: 200px;">
      <center>
          <img src="{%static 'money.png'%}" alt="" style="height: 50px;width: 50px;margin-top: 30px;">
      </center>
     <h5 align="center"style="padding-top: 5%;">Send</h5>
     <center>
       <a href="{% url 'accounts:billgen' %}"><button type="button" class="btn btn-primary" style="margin-top: 5%;width: 150px;">Upload Menu</button></a>
      
     </center>
  </div> 
</div> -->

{%endblock %}